<evBlock name="Header">
<!DOCTYPE html>

<html lang="{View.lang}">
<head>
    <title>{View.title}</title>
    <link rel="stylesheet" type="text/css" href="{View.static_url}common.css" media="all" />
    <meta charset="{View.charset}" />
    <meta name="keywords" content="{View.keywords}" />
    <meta name="description" content="{View.description}" />    
</head>
<body>
</evBlock>


<div evLoop="{View.AdminMenuItems = Section > MenuItems}" evAcl="admin,poweruser" evBlock="Menu">
    <h3 class="row_{MenuItems:odd}">{MenuItems:index+1} {Section}</h3>
    <ul evLoop="{MenuItems = Item}">
        <li evLoop="{MenuItems:first}">FIRST: <a href="{Item.Link}">{Item.Title}</a></li>
        <li><a href="{Item.Link}">{Item.Title}</a></li>
        <li evLoop="{MenuItems:last}">LAST: <a href="{Item.Link}">{Item.Title}</a><hr /></li>
    </ul>
</div>

<evBlock name="body">{View.Main}</evBlock>
        
<evBlock name="Footer">
</body>
</html>
</evBlock>
