<!DOCTYPE html>

<html lang="{View.lang}">
<head>
    <title>{View.title}</title>
    <link rel="stylesheet" type="text/css" href="{View.static_url}common.css" media="all" />
    <meta charset="{View.charset}" />
    <meta name="keywords" content="{View.keywords}" />
    <meta name="description" content="{View.description}" />
</head>
<body bgcolor="#d3d3d3">
    <e>
        $s = urlencode('login/submit/session/adf24ds34/redirect/'.urlencode($View->title).'?and=something&else=2457');
        echo urldecode($s);
    </e>
    <h2>::{View.title}</h2>
    <e>
        if ($Login->canShowInfo) {
            echo 'showing info';
        }
        else {
            echo 'not showing info';
        }
    </e>

    <br />
    {View.Body}

    <div evAcl="!admin,!poweruser" evBlock="unregisteredMessage">
        Log in to see administration menu.
    </div>
</body>
</html>