<evt block="Header">
    <!DOCTYPE html>
    
    <html lang="{Page.Lang}">
    <head>
        <title>{Page.Title}</title>
        <link rel="stylesheet" type="text/css" href="{Page.StaticUrl}/common.css" media="all" />
        <meta charset="{Page.Charset}" />
        <meta name="keywords" content="{Page.Keywords}" />
        <meta name="description" content="{Page.Description}" />    
    </head>
    <body>
</evt>

<ul loop="{Page.AdminMenuItems}" acl="admin,poweruser">
    <li><a href="{Link}">{Title}</a></li>
</ul>
        
<div show="empty(Page.AdminMenuItems)">
    Log in to see administration menu.
</div>

<evt block="Body">{Page.Body}</evt>
        
<evt block="Footer">
    </body>
    </html>
</evt>
