<etpl block="Header">
    <!DOCTYPE html>
    
    <html lang="{Page.Lang}">
    <head>
        <title>{Page.Title}</title>
        <link rel="stylesheet" type="text/css" href="{Page.StaticUrl}/common.css" media="all" />
        <meta charset="{Page.Charset}" />
        <meta name="keywords" content="{Page.Keywords}" />
        <meta name="description" content="{Page.Description}" />    
    </head>
    <body>
</etpl>

<etpl block="Body">{Page.Body}</etpl>
        
<etpl block="Footer">
    </body>
    </html>
</etpl>
